In [1]:
tuple1 = ('hello','hi',55,66) # Creating a tuple, tuple1
print(tuple1) # Printing tuple1 , output contains values enclosed in parentheses indicating a tuple
print(type(tuple1)) # Printing the type of tuple1

list1 = list(tuple1) # Converting the tuple1 into a list using list() function.
print(list1) # Printing list1 , output contains values enclosed in square brackets indicating a tuple
print(type(list1))

('hi', 'hello', 55, 66)
<class 'tuple'>
['hi', 'hello', 55, 66]
<class 'list'>

In [2]:
tuple1 = ('hi', 'hello', 55, 66) # Creating a tuple, tuple1
print("Given tuple :",tuple1) 
list1 = list(tuple1) # Converting the tuple to a list using built-in list() function.
print("After conversion of tuple to list :",list1) 
list1[2] = "fifty five"  # Updating the value of element at 2nd index. This does not result in an error as the lists are mutable.
print("List after changing the element :",list1) 
tuple1 = tuple(list1)  # Converting the list back to tuple using the built-in tuple() method.
print("After converting list into tuple :",tuple1) # Printing the final tuple with the updated element at 2nd index.

Given tuple : ('hi', 'hello', 55, 66)
After conversion of tuple to list : ['hi', 'hello', 55, 66]
List after changing the element : ['hi', 'hello', 'fifty five', 66]
After converting list into tuple : ('hi', 'hello', 'fifty five', 66)

In [27]:
#Tuple
a=(1,1.0,'a')
print(type(a))
#Tuple is also called as read only list (because it is immutable)
print(a[0])
a[0]=7
print(a)

<class 'tuple'>
1

TypeError: 'tuple' object does not support item assignment

In [29]:
a=(1,2,3,4)
b=list(a)
b[0]=7
print(b)
print(tuple(b))

[7, 2, 3, 4]
(7, 2, 3, 4)

In [31]:
a=(1,)
print(type(a))

<class 'tuple'>

In [7]:
#Tuple operations

#Indexing	
a = (20, 40, 60, "apple", "ball")
print(a[0]) # Result: 20
print(a[2]) # Result: 60
#Slicing	
print(a[1:3]) #Result: (40,60)
#Concatenation	
b = (2, 4)
print(a + b) #Result: (20, 40, 60, "apple", "ball", 2, 4)

20
60
(40, 60)
(20, 40, 60, 'apple', 'ball', 2, 4)

In [8]:
#Repetition	
b = (2, 4)
print(b * 2) # Result: (2, 4, 2, 4)

(2, 4, 2, 4)

In [9]:
#Membership	
a = (2, 3, 4, 5, 6, 7, 8, 9, 10)
print(5 in a) # Result: True
print(100 in a) # Result: False
print(2 not in a) # Result: False

True
False
False

In [10]:
#Comparison	
a = (2, 3, 4, 5, 6, 7, 8, 9, 10)
b = (2, 3, 4)
print(a == b) # Result: False
print(a != b) # Result: True

False
True

In [18]:
#inbuilt function

print(all((' ', ',', '1', '2'))) # Result: True
print(all((False,' ', ',', '1'))) # Result: False
print(any((' ', ',', '1', '2'))) # Result: True

True
False
True

In [19]:
x = (1, 2, 3, 4, 5, 6)
print(tuple(enumerate(x)))

((0, 1), (1, 2), (2, 3), (3, 4), (4, 5), (5, 6))

In [20]:
x = (1, 2, 3, 4, 5, 6)
print(len(x)) # Result: 6

6

In [21]:
print(max((1, 2, 3, 4, 5, 6)))

6

In [22]:
print(min((1, 2, 3, 4, 5, 6))) # Result: 1

1

In [23]:
origtup = (1, 5, 3, 4, 7, 9, 1, 27)
sorttup = sorted(origtup)
print(sorttup) # Result: [1, 1, 3, 4, 5, 7, 9, 27]
print(origtup) # Result: (1, 5, 3, 4, 7, 9, 1, 27)

[1, 1, 3, 4, 5, 7, 9, 27]
(1, 5, 3, 4, 7, 9, 1, 27)

In [24]:
print(sum((1, 5, 3, 4, 7, 9, 1, 27))) # Result: 57
print(sum((1, 3, 5, 'a', 'b', 4, 6, 7)))

57

TypeError: unsupported operand type(s) for +: 'int' and 'str'