In [2]:
#tuples- read only list(immutable )
a = (1, 2, 3, 4, 5)
print(type(a))
a = list(a)

print(a)
print(type(a))

<class 'tuple'>
[1, 2, 3, 4, 5]
<class 'list'>

In [2]:
a = [1, 2, 3, 4, 5]
a = tuple(a)
print(a)

(1, 2, 3, 4, 5)

In [ ]:
a=(1,2,3,4,5)

a=list(a)
a[0]=6
print(tuple(a))

:

In [3]:
t1 = (1, 2, 3, [4, 5], 5)
t1[3][0] = 42
print(t1)

(1, 2, 3, [42, 5], 5)

In [4]:
#Write a program to convert a user-given list into a tuple, and print the result
data = input("data: ") # 1,2,3
list1 = data.split(",") # ["1","2","3"]
tuple1 = tuple(list1)
print("list:", list1)
print("tuple:", tuple1)

data: 1,2,3
list: ['1', '2', '3']
tuple: ('1', '2', '3')

In [11]:
#Operations on tuples
a = (20, 40, 60, "apple", "ball")
print(type(a))
t1 = (1,)
type(t1)

<class 'tuple'>

tuple

In [6]:
#indexing
print(a[0])
20
print(a[2])
60

20
60

60

In [7]:
#slicing
print(a[1:3])

(40, 60)

In [8]:
#concatenation
b = (2, 4)
print(a + b)

(20, 40, 60, 'apple', 'ball', 2, 4)

In [12]:
#Repetition
b = (2, 4)
print(b * 2)

(2, 4, 2, 4)

In [10]:
#membership
a = (2, 3, 4, 5, 6, 7, 8, 9, 10)
print(5 in a)

True

In [11]:
#comparision
a = (2, 3, 4, 5, 6, 7, 8, 9, 10)
b = (2, 3, 4)
print(a == b)

False

In [ ]:
'''Create a tuple with the user-given inputs. Take an index n from the user.
Write a program to print the tuple element at index n, and print the result as shown in the examples. 
If the given index range is not in the tuple print the error message'''
data = input("data: ") # 1,2,3
list1 = data.split(",") # ["1","2","3"]
print("list:", list1)
mytuple = tuple(list1) #(1,2,3)
print("tuple:", mytuple)
index = int(input("index: "))#index=4
size = len(mytuple)#size=3
if index < len(mytuple) and index>=-(len(mytuple)): #-4>=-3
	value = mytuple[index] #mytuple[2]
	print("element:", value)
else:
	print("enter valid index")

In [13]:
'''Write a program to remove an element from the tuple based 
on the user-given index, 
and print the result as shown in the example'''
data = input("data: ")#1,2,3,4
list1 = data.split(",")# list=[1,2,3,4]
tuple1 = tuple(list1)#tuple1=(1,2,3,4)
print("tuple:", tuple1)
index = int(input("index: "))#index=2
size = len(tuple1)#size=4
if index != -1: #2!=-1(True)
	if index < len(tuple1) and index >= -(size):
		tuple2 = tuple1[:index] + tuple1[index + 1:]# tuple1[:2]+tuple1[3:]
		print("after removing:", tuple2)
	else:
		print("enter valid index")
else:
	print("after removing:", tuple1[:index]) #tuple1[:-1]

data: 1,2,3,4
tuple: ('1', '2', '3', '4')
index: 3
after removing: ('1', '2', '3')

In [14]:
#built in tuple functions
print(all((' ', ',', '1', '2')))

True

In [15]:
print(any((' ', ',', '1', '2')))

True

In [16]:
x = (1, 2, 3, 4, 5, 6)
print(tuple(enumerate(x)))

((0, 1), (1, 2), (2, 3), (3, 4), (4, 5), (5, 6))

In [17]:
x = (1, 2, 3, 4, 5, 6)
print(len(x))

6

In [18]:
print(max((1, 2, 3, 4, 5, 6)))

6

In [19]:
print(min((1, 2, 3, 4, 5, 6)))

1

In [20]:
origtup = (1, 5, 3, 4, 7, 9, 1, 27)
sorttup = sorted(origtup)
print(sorttup)

[1, 1, 3, 4, 5, 7, 9, 27]

In [21]:
print(sum((1, 5, 3, 4, 7, 9, 1, 27)))

57

In [22]:
x = list("abcdef")
print(x)

['a', 'b', 'c', 'd', 'e', 'f']

In [23]:
'''Write a program to find how many times a given element occurred in a tuple'''
data = input("data: ") # 1,2,3
list1 = data.split(",")#["1","2","3"]
tuple1 = tuple(list1)#("1","2","3")
print("tuple:", tuple1)
value = input("element: ")#value=7
if value in tuple1: #1 in tuple:
	counter = tuple1.count(value)#tuple1.count(1)
	print("existed", counter, "times")
else:
	print("enter valid element")

data: 1,2,3
tuple: ('1', '2', '3')
element: 1
existed 1 times

In [24]:
#dictionary
month = {'Jan':1, 'Feb':2, 'Mar':3, 'Apr':4, 'May':5, 'Jun':6}
print(month)
print(type(month))

{'Jan': 1, 'Feb': 2, 'Mar': 3, 'Apr': 4, 'May': 5, 'Jun': 6}
<class 'dict'>

In [25]:
d = dict([('one', 1), ('two', 2), ('three', 3), ('four', 4)])
print(d)

{'one': 1, 'two': 2, 'three': 3, 'four': 4}

In [26]:
#dictionary operations
capitals = {"U.S.A" : "Washington D.C", "India" : "New Delhi", "Nepal" : "Kathmandu"}
print(capitals["India"])

New Delhi

In [27]:
capitals = {"U.S.A" : "Washington D.C", "India" : "New Delhi", "Nepal" : "Kathmandu"} 
print(capitals.get("India"))

New Delhi

In [2]:
#update the values
capitals = {"U.S.A" : "Washington D.C", "India" : "New Delhi", "Nepal" : "Kathmandu"} 
print(capitals.get("India"))
capitals["India"]="ABC"
print(capitals)
capitals["Abc"]="XYZ"
print(capitals)

New Delhi
{'U.S.A': 'Washington D.C', 'India': 'ABC', 'Nepal': 'Kathmandu'}
{'U.S.A': 'Washington D.C', 'India': 'ABC', 'Nepal': 'Kathmandu', 'Abc': 'XYZ'}

In [5]:
#how to create a dictionary by using two lists.
#syntax=dict(zip(list1, list2))
list1 = [10,20,30]
list2 = ["Ten","Twenty","Thirty"]
mydict = dict((zip(list1,list2)))
print(mydict)
print(sorted(mydict))
print(sorted(mydict.items())) #return key value pairs in the form of list of tuples

{10: 'Ten', 20: 'Twenty', 30: 'Thirty'}
[10, 20, 30]
[(10, 'Ten'), (20, 'Twenty'), (30, 'Thirty')]

In [1]:
#built-in dictionary functions
dict1 = {1:'alpha', 2:'beta', 3:'gamma', 4:'music'}
print(all(dict1))

True

In [2]:
dict2 = {1:'alpha', 2:'', '':'gamma', 4:'music'}
print(any(dict2))

True

In [3]:
dict1 =  {1:'alpha', 2:'beta', 3:'gamma', 4:'music'}
print(len(dict1))

4

In [4]:
dict1 =  {2:'alpha', 3:'beta', 1:'gamma', 4:'music', 6:'video'}
sortlist = sorted(dict1)
print(sortlist)

[1, 2, 3, 4, 6]

In [5]:
'''Write a program to change Dictionary keys into values and 
values into keys, and print the result as shown in the example.

Sample Input and Output:
data1: 1,2,3
data2: One,Two,Three
before exchange: [('1', 'One'), ('2', 'Two'), ('3', 'Three')]
after exchange: [('One', '1'), ('Three', '3'), ('Two', '2')]'''
data1 = input("data1: ") #1,2,3
data2 = input("data2: ") #One,Two,Three
list1 = data1.split(",") #['1','2','3']
list2 = data2.split(",") #[ 'One','Two','Three']
dict1 = dict(zip(list1, list2)) #dict1={1:'one',2:'Two','3':'Three'}
d3 = dict() #d3={}
for key in dict1:
	d3[dict1[key]] = key
print("before exchange:", sorted(dict1.items()))
print("after exchange:", sorted(d3.items()))

data1: 1,2,3
data2: one,two,three
before exchange: [('1', 'one'), ('2', 'two'), ('3', 'three')]
after exchange: [('one', '1'), ('three', '3'), ('two', '2')]

In [3]:
'''Write a program to change Dictionary keys into values and values into keys, and print the result as shown in the example.

Sample Input and Output:
data1: 1,2,3
data2: One,Two,Three
before exchange: [('1', 'One'), ('2', 'Two'), ('3', 'Three')]
after exchange: [('One', '1'), ('Three', '3'), ('Two', '2')]'''
d=input() # 1,2,3
data1=d.split(",")# ["1","2","3"]
d1=input() # One,Two,Three
data2=d1.split(",")# ["One","Two","Three"]
print("before exchange",list(zip(data1,data2)))
print("after exchange",list(zip(data2,data1)))

1,2,3
One,Two,Three
before exchange [('1', 'One'), ('2', 'Two'), ('3', 'Three')]
after exchange [('One', '1'), ('Two', '2'), ('Three', '3')]

In [6]:
'''Take an integer sequence from the user.
Write a program to print a dictionary 
from the given sequence, consider the element in the sequence as a key,
and the number of times the element 
occurs in the sequence as a value. Print the result as shown in the example.'''
#Program to create dictionary of items and occurences
seq = input("seq: ")
list1 = seq.split(",")
for i in range(len(list1)):
	list1[i] = int(list1[i])
tuple1 = tuple(list1)
d = dict()
for element in tuple1:
	if element not in d:
		d[element] = 1
	else:
		d[element] += 1
print("sorted dictionary:", sorted(d.items()))

seq: 1,2,3,5,6,1,2,3
sorted dictionary: [(1, 2), (2, 2), (3, 2), (5, 1), (6, 1)]

In [13]:
data=input("data")#1,2,3,1,2,3
data1=data.split(",")#[1,2,3,1,2,3]
d={}# {1:2, 2:2, 3:2}
for i in range(0,len(data1)): #i=0,1,2
    value=data1.count(data1[i])
    d[data1[i]]=value# d[1]=2 ; d[2]=2
sorted(d.items())

data1,2,3,1,2,3

[('1', 2), ('2', 2), ('3', 2)]

In [7]:
'''Write a program to check the existence of keys in two dictionaries.
If the user key is existing in the first dictionary then print key present in first dictionary
and if key existing in the second dictionary then print key present in second dictionary
if key is existing in both the dictionaries then print key present in both dictionaries,
otherwise print key is not present in both the dictionaries'''
#Program to check the existence of a key in 2 dictionaries
data1 = input("data1: ")
data2 = input("data2: ")
list1 = data1.split(",")
list2 = data2.split(",")
dict1 = dict(zip(list1, list2))

data3 = input("data3: ")
data4 = input("data4: ")
list3 = data3.split(",")
list4 = data4.split(",")
dict2 = dict(zip(list3, list4))

kv = input("key: ")
if(kv in dict1.keys() and kv in dict2.keys()):
	print("key present in both dictionaries")
elif(kv in dict1.keys()):
	print("key present in first dictionary")
elif(kv in dict2.keys()):
	print("key present in second dictionary")
else:
	print("key is not present")

data1: 1,2,3
data2: one,two,three
data3: 4,5,6
data4: four,five,six
key: 6
key present in second dictionary

In [12]:
#built-in dictionary methods
emp = {'Name': 'Anil', 'Age':26, 'Exp':5}
print(len(emp))
#emp.clear()
#print(len(emp))

3

In [13]:
fruits = {'apple':'red', 'orange':'orange', 'mango':'yellow'}
dict2 = fruits.copy()
print(dict2)

{'apple': 'red', 'orange': 'orange', 'mango': 'yellow'}

In [14]:
Seq = ('one', 'two', 'three')
dict = dict.fromkeys(Seq,10)
print(str(dict))

{'one': 10, 'two': 10, 'three': 10}

In [16]:
dict = {'cyan':1, 'violet':2, 'green':3}
print("Value : %s " % dict.get('violet'))

Value : 2

In [17]:
dict = {'cyan':1, 'violet':2, 'green':3}
print(dict.items())

dict_items([('cyan', 1), ('violet', 2), ('green', 3)])

In [18]:
dict = {'cyan':1, 'violet':2, 'green':3}
print(dict.keys())

dict_keys(['cyan', 'violet', 'green'])

In [20]:
ict1 = {'cyan':1, 'violet':2, 'green':3}
dict1.setdefault('violet', 10)
dict1.setdefault('red', 10)
print(dict1)

{'1': 'one', '2': 'two', '3': 'three', 'violet': 10, 'red': 10}

In [21]:
dict1 = {'cyan':1, 'violet':2, 'green':3}
dict2 = {'red':4, 'white':5}
dict1.update(dict2)
print(dict1)

{'cyan': 1, 'violet': 2, 'green': 3, 'red': 4, 'white': 5}

In [22]:
dict1 = {'cyan': 1, 'violet': 2, 'green': 3, 'red': 4}
dict1.values()

dict_values([1, 2, 3, 4])

In [23]:
#Dictionary comprehension
#syntax {key : value for (key , value) in iterable}
list1 = [10, 20, 30]

dict1 = {key : value for key, value in enumerate(list1)}

print(dict1)

{0: 10, 1: 20, 2: 30}

In [24]:
dict2 = {i : i ** 2 for i in range(1, 11)}
print(dict2)

{1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81, 10: 100}

In [25]:
dict1 = {k:"python" for k in "CodeTantra"}

print(dict1)

{'C': 'python', 'o': 'python', 'd': 'python', 'e': 'python', 'T': 'python', 'a': 'python', 'n': 'python', 't': 'python', 'r': 'python'}